# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [1]:
# install missing library
!pip install pymongo
!pip install dnspython

Collecting pymongo
  Downloading pymongo-3.12.1-cp37-cp37m-win_amd64.whl (397 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.12.1
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [2]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [6]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################


client = pymongo.MongoClient("mongodb+srv://karlrding:drf1997011@cluster0.ix8gi.mongodb.net/daps2020?retryWrites=true&w=majority")

db=client.admin


#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [7]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1635514022, 3),
                  'signature': {'hash': b'\xf0Y\xcbH\xa9\xc9\xe7\x9f\xc0=P\x8b'
                                        b'\x143\x86\xbf{\xe1\x99\x8a',
                                'keyId': 6984028040644788225}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '438fb41196e737d1aedcff6aac76f3e7895653ac',
                  'version': '20211027.0.0.1634935068'},
 'connections': {'available': 495, 'current': 5, 'totalCreated': 11},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'cluster0-shard-00-02.ix8gi.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 10, 29, 13, 27, 2, 821000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 1553}}},
 'network': {'bytesIn': 7006, 'bytesOut': 1270246, 'numRequests': 23},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 6804985357, 'ops': 19},
                 'reads': {'latency': 0, 'ops': 0},
                 'writes': {'latency': 0, 'ops': 0}},
 'opcounters': {'command': 23,
                'delete': 0,
                'getmore': 0,
                'insert': 0,
                'query': 0,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1635514022, 3),
 'pid': 73751,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000044'),
          'hosts': ['cluster0-shard-00-00.ix8gi.mongodb.net:27017',
                    'cluster0-shard-00-01.ix8gi.mongodb.net:27017',
                    'cluster0-shard-00-02.ix8gi.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 10, 29, 13, 27, 2),
                        'majorityOpTime': {'t': 68,
                                           'ts': Timestamp(1635514022, 3)},
                        'majorityWriteDate': datetime.datetime(2021, 10, 29, 13, 27, 2),
                        'opTime': {'t': 68, 'ts': Timestamp(1635514022, 3)}},
          'me': 'cluster0-shard-00-02.ix8gi.mongodb.net:27017',
          'primary': 'cluster0-shard-00-02.ix8gi.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-yyf6t6-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616ecd951db0a73b42f6187f')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1635513977, 3),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 862481.0,
 'uptimeEstimate': 862481,
 'uptimeMillis': 862481340,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [9]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Mike Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Ellie Roberts', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Maria Peterson', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Maria Baker', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Anna Peterson', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Anna Adams', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Mike Baker', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Maria Palmer', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Anna Armstrong', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Maria Adams', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'George Peterson', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Andrew Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'George Palmer', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Anna Peterson', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}, {'name': 'Paul Palmer', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'George Turner', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Mike Adams', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Mike Peterson', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Anna Roberts', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Mike Peterson', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'George Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Mike Armstrong', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Natalia Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Natalia Palmer', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Anna Roberts', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Ellie Adams', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Maria Palmer', 'DAPS_assignment': 4, 'reviewer': 'Laura'}]

In [19]:
student[0]

{'name': 'Mike Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [10]:
# Create a database object called “students”
db = client.students

In [11]:
db

Database(MongoClient(host=['cluster0-shard-00-02.ix8gi.mongodb.net:27017', 'cluster0-shard-00-00.ix8gi.mongodb.net:27017', 'cluster0-shard-00-01.ix8gi.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-yyf6t6-shard-0', ssl=True), 'students')

In [27]:
collection = db.student_mark

In [22]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################


### TO DO
result_insert_one = db.student_mark.insert_one(student[0])
result_insert_many = db.student_mark.insert_many(student[1:])
#########

In [24]:
result_insert_one.inserted_id

ObjectId('617bfe91c476c90fab770ff4')

In [26]:
result_insert_many.inserted_ids

[ObjectId('617bfe91c476c90fab770ff5'),
 ObjectId('617bfe91c476c90fab770ff6'),
 ObjectId('617bfe91c476c90fab770ff7'),
 ObjectId('617bfe91c476c90fab770ff8'),
 ObjectId('617bfe91c476c90fab770ff9'),
 ObjectId('617bfe91c476c90fab770ffa'),
 ObjectId('617bfe91c476c90fab770ffb'),
 ObjectId('617bfe91c476c90fab770ffc'),
 ObjectId('617bfe91c476c90fab770ffd'),
 ObjectId('617bfe91c476c90fab770ffe'),
 ObjectId('617bfe91c476c90fab770fff'),
 ObjectId('617bfe91c476c90fab771000'),
 ObjectId('617bfe91c476c90fab771001'),
 ObjectId('617bfe91c476c90fab771002'),
 ObjectId('617bfe91c476c90fab771003'),
 ObjectId('617bfe91c476c90fab771004'),
 ObjectId('617bfe91c476c90fab771005'),
 ObjectId('617bfe91c476c90fab771006'),
 ObjectId('617bfe91c476c90fab771007'),
 ObjectId('617bfe91c476c90fab771008'),
 ObjectId('617bfe91c476c90fab771009'),
 ObjectId('617bfe91c476c90fab77100a'),
 ObjectId('617bfe91c476c90fab77100b'),
 ObjectId('617bfe91c476c90fab77100c'),
 ObjectId('617bfe91c476c90fab77100d'),
 ObjectId('617bfe91c476c90fab77100e'),
 ObjectId('617bfe91c476c90fab77100f'),
 ObjectId('617bfe91c476c90fab771010')]

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [31]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO
collection.find_one({'DAPS_assignment':5})
#########

{'_id': ObjectId('617bfe91c476c90fab77100b'),
 'name': 'Natalia Turner',
 'DAPS_assignment': 5,
 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [39]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO
#collection.find({'DAPS_assignment':3})

for each1 in collection.find({'DAPS_assignment':3}):
    pprint(each1)
    
for each2 in collection.find({'DAPS_assignment':8}):
    pprint(each2)
    
#########

{'DAPS_assignment': 3,
 '_id': ObjectId('617bfe91c476c90fab770ffb'),
 'name': 'Maria Palmer',
 'reviewer': 'Miguel'}
{'DAPS_assignment': 3,
 '_id': ObjectId('617bfe91c476c90fab771003'),
 'name': 'Paul Palmer',
 'reviewer': 'Laura'}
{'DAPS_assignment': 3,
 '_id': ObjectId('617bfe91c476c90fab771009'),
 'name': 'George Armstrong',
 'reviewer': 'Laura'}

In [56]:
result = collection.find({'DAPS_assignment':{'$in':[3,8]}})
pprint(list(result))

[{'DAPS_assignment': 3,
  '_id': ObjectId('617bfe91c476c90fab770ffb'),
  'name': 'Maria Palmer',
  'reviewer': 'Miguel'},
 {'DAPS_assignment': 3,
  '_id': ObjectId('617bfe91c476c90fab771003'),
  'name': 'Paul Palmer',
  'reviewer': 'Laura'},
 {'DAPS_assignment': 3,
  '_id': ObjectId('617bfe91c476c90fab771009'),
  'name': 'George Armstrong',
  'reviewer': 'Laura'}]

In [48]:
pipline = [
    {'$match':{'DAPS_assignment':{'$in':[3,8]}}}
]

pprint(list(collection.aggregate(pipline)))

[{'DAPS_assignment': 3,
  '_id': ObjectId('617bfe91c476c90fab770ffb'),
  'name': 'Maria Palmer',
  'reviewer': 'Miguel'},
 {'DAPS_assignment': 3,
  '_id': ObjectId('617bfe91c476c90fab771003'),
  'name': 'Paul Palmer',
  'reviewer': 'Laura'},
 {'DAPS_assignment': 3,
  '_id': ObjectId('617bfe91c476c90fab771009'),
  'name': 'George Armstrong',
  'reviewer': 'Laura'}]

In [57]:
result = collection.find({'DAPS_assignment':4})
pprint(list(result))

[{'DAPS_assignment': 4,
  '_id': ObjectId('617bfe91c476c90fab770ffc'),
  'name': 'Andrew Armstrong',
  'reviewer': 'Miguel'},
 {'DAPS_assignment': 4,
  '_id': ObjectId('617bfe91c476c90fab771005'),
  'name': 'Mike Adams',
  'reviewer': 'Miguel'},
 {'DAPS_assignment': 4,
  '_id': ObjectId('617bfe91c476c90fab77100c'),
  'name': 'Ellie Palmer',
  'reviewer': 'Laura'},
 {'DAPS_assignment': 4,
  '_id': ObjectId('617bfe91c476c90fab771010'),
  'name': 'Maria Palmer',
  'reviewer': 'Laura'}]

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [59]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################


### TO DO
result_update_many = collection.update_many({'DAPS_assignment':4},{'$set':{'DAPS_assignment':5}})
result_update_many.modified_count
#########

4

In [60]:
result = collection.find({'DAPS_assignment':4})
pprint(list(result))

[]

In [61]:
result = collection.find({'DAPS_assignment':5})
pprint(list(result))

[{'DAPS_assignment': 5,
  '_id': ObjectId('617bfe91c476c90fab770ffc'),
  'name': 'Andrew Armstrong',
  'reviewer': 'Miguel'},
 {'DAPS_assignment': 5,
  '_id': ObjectId('617bfe91c476c90fab771005'),
  'name': 'Mike Adams',
  'reviewer': 'Miguel'},
 {'DAPS_assignment': 5,
  '_id': ObjectId('617bfe91c476c90fab77100b'),
  'name': 'Natalia Turner',
  'reviewer': 'Miguel'},
 {'DAPS_assignment': 5,
  '_id': ObjectId('617bfe91c476c90fab77100c'),
  'name': 'Ellie Palmer',
  'reviewer': 'Laura'},
 {'DAPS_assignment': 5,
  '_id': ObjectId('617bfe91c476c90fab771010'),
  'name': 'Maria Palmer',
  'reviewer': 'Laura'}]

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [62]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO
result_delete_many = collection.delete_many({'reviewer':'Laura'})
result_delete_many.deleted_count
#########

11

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap